body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #EEE9DA;
}

.container {
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.header {
    font-weight: bold;
    margin-bottom: 15px;
}

#comp_container {
    background-color: #6096B4;
}

#dt_container {
    background-color: #93BFCF;
}

#dt_result_container, #num_result_container {
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    padding: 1px
}

#num_container {
    background-color: #BDCDD6;
}

.greenBG {
    background-color: greenyellow;
}

.orangeBG {
    background-color: orange;
}

.error {
    border-color: red;
}